.search-container {
    position: relative;
    margin-bottom: 1.5rem;
}

.search-container i {
    position: absolute;
    left: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    color: var(--gray-400);
}

.search-container .form-input {
    padding-left: 2.5rem;
}

#property-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
}

.property-card-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.property-card-header h3 {
    font-size: 1.125rem;
    font-weight: 700;
    color: var(--gray-800);
    margin: 0;
}

.property-card-header p {
    font-size: 0.875rem;
    color: var(--gray-500);
    margin: 0;
}

.property-card-details {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid var(--gray-200);
}

.property-card-details > div {
    display: flex;
    justify-content: space-between;
    font-size: 0.875rem;
}

.property-card-details > div:not(:last-child) {
    margin-bottom: 0.5rem;
}